/* base for rem */
html{
   font-size: 10px;
}

body {
   scroll-behavior: smooth;
  background-color: rgb(255, 255, 255);
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 2rem;
}

/* title */
h2 {
   text-align: center;
   font-size: 3.5rem;
   font-weight: 800;
   padding: 1rem;
   margin: 0;
}

.card {
   border: 0
}

.card-header {
   padding: 0;
   border: 0;
   background-color: transparent;
}

.accordion-button {
   font-size: 2.5rem;
   padding: 20px 15px;
   text-align: center;
   font-weight: 700;
}

.card-body {
   padding-top: 0;

}

figure {
   height: 80vh;
   width: 100%;
}

img {
   object-fit: cover;
   width: 100%;
   height: 100%;
}

.narrative-icon {
   height: 5rem;
   width: auto;
   margin-right: 1rem;
   margin-left: 1rem;
}

.accordion-body {
   padding: 0 !important;
   font-size: 2rem;
   border: 0; 
}

/* table */
.table p {
   display: inline;
}

.table {
   margin: 0;
   width: 100%;
}

.table th, .table td {
  padding: 15px;
}

.table td {
   width: 100%;
}

tbody {
   width: 100%;
}

th {
   vertical-align: middle;
}