.documentation-index {
    border: 1px solid black;
    margin-left: 10%;
    margin-right: 10%;
    padding: 1rem;
}

.main-documentation {
    padding: 3rem;
    text-align: justify;
}

h1 {
    font-size: 3.17rem; 
}

h2 {
    font-size: 2.82rem; 
}

h3 {
    font-size: 2.51rem; 
}

h4 {
    font-size: 2.23rem; 
}

h5 {
    font-size: 2.02rem; 
}

h6 {
    font-size: 1.8rem; 
}

@media (min-width: 768px) {
    .documentation-index {
        width: 50%;
        margin-left: 5%;
    }
}

@media (min-width: 992px) {
    .documentation-index {
        width: 30%;
        margin-left: 5%;
    }
}