/* Media Queries */
/* Desktop Version */
@media (min-width:768px) {
  html {
    font-size: 12px;
  }


  section {
    margin-left: 5vw;
    margin-right: 5vw;
  }

  .hero-title {
    width: 50%;
  }


}