/* Narrative page */
h1 {
  text-align: center;
}

h2 {
    font-size: 3.10rem; /* 1.92rem * (1.200^2) */
}

/* The nav for scrolling */
.nav-pills {
  font-size: 1.8rem;
  flex-wrap: nowrap;
  overflow-x: auto;
}
  
  .nav-for-scroll {
    background-color: var(--tertiary);
  }
  
  .narrative-item a {
    color: var(--primary);
  }
  
  .nav .nav-link.active {
    background-color: var(--primary);
    color: var(--tertiary);
    border: 1px solid var(--tertiary);
  }
  
  .narrative-item a:hover {
    color: var(--tertiary);
    background-color: var(--primary);
    border: 1px solid var(--tertiary);
    cursor: pointer;
  }

/* The cards */
[class^="card-img-bg-"] {
    height: 30vh;
    background-size: cover;
    background-position: center;
}

.card-title {
    font-size: 1.8rem;
}

.card-text {
    font-size: 1.6rem;
}

.card {
    width: 100%;
    transition: box-shadow 0.3s ease;
}

.card:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

a {
    text-decoration: none;
}