html {
  font-size: 10px;
}


body {
  scroll-behavior: smooth;
  background-color: rgb(255, 255, 255);
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
}

section {
  padding: 2rem;
  padding-left: 5vw;
  padding-right: 5vw;
}

h1 {
  font-size: 4rem;
}

h2 {
  font-size: 5.6 rem;
}

h3 {
  text-align: center;
  font-size: 4rem;
  padding: 2rem;
  position: relative;
  margin-bottom: 2rem;
}

h3::before {
  position: absolute;
  bottom: 10px;
  width: 14rem;
  height: 4px;
  content: "";
  left: 50%;
  margin-left: calc(-15rem / 2);
  background-color: var(--tertiary);
  z-index: 100;
}

h4 {
  font-size: 2.8rem;
}


.btn {
  border: 0;
  font-size: 1.5rem;
  padding: 1rem;
  font-weight: 500;
  border-radius: 10px;
}


.center {
  text-align: center;
}

/* Nav bar */
.navbar-brand img {
  height: 40px;
}


/* Hero section */
#hero {
  position: relative;
  width: 100%;
  height: 100vh;
  margin: 0;
  padding: 0;
}

#hero::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url(../pics/pic-16.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  filter: brightness(60%);
}

.hero-content {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hero-title {
  width: 80%;
  filter: brightness(0) saturate(100%) invert(93%) sepia(100%) saturate(27%) hue-rotate(14deg) brightness(108%) contrast(107%);
  margin-bottom: 10px;
}

.hero-subtitle {
  font-size: 2.5rem;
  margin-top: -1rem;
  font-weight: 500;
  color: white;
}

.hero-btn {
  background-color: rgba(255, 255, 255, 0.35);
  font-weight: 600;
  font-size: 1.8rem;
  margin-top: 0.7rem;
  color: white;
  margin-left: 2rem;
  margin-right: 2rem;
  letter-spacing: 1px;
  padding: 5px 20px;

}

.hero-btn:hover {
  background-color: white;
}

:not(.btn-check)+.btn:active {
  color: var(--bs-btn-active-color);
  background-color: var(--primary);
  border-color: var(--bs-btn-active-border-color);
}

/* Carousel */

section .container-fluid {
  padding: 0 0;
}

.carousel {
  height: 50vh;
}

.carousel-inner {
  height: 100%;
}

.carousel-item {
  height: 100%;
  background-size: cover;
  background-position: center;
}

.transparent-background {
  width: 100%;
  height: 100%;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

.carousel-caption {
  font-size: 1.6rem;
  font-weight: bold;

}

.carousel-title {
  font-size: 2.9rem;
  font-weight: bold;
}

.btn-outline-light {
  border: 1px solid;
}

/* Address section */
#address iframe {
  width: 100%;
  height: 50vh;
  max-height: 50vw;
}

#address .container {
  padding: 1rem;
}

/* Footer section */
#footer {
  margin: auto;
  padding: 3rem 5vw;
  border-top: solid 1px grey;
  font-size: 1.2rem;
  color: var(--secondary);
  background-color: rgb(226, 226, 226);
  text-wrap: wrap;
  text-align: justify;
}

#footer a {
  text-decoration: underline;
}

#footer li {
  list-style: outside;
}

#footer p.title {
  font-size: 1.3rem;
  font-weight: 500;
}

/* Narrative page */
/* The nav for scrolling */
.nav-pills {
  font-size: 2rem;
  flex-wrap: nowrap;
  overflow-x: auto;
}

.nav-for-scroll {
  background-color: var(--tertiary);
}

.narrative-item a {
  color: var(--primary);
}

.nav .nav-link.active {
  background-color: var(--secondary);
}

.narrative-item a:hover {
  color: var(--primary);
  background-color: var(--secondary);
  cursor: pointer;
}

/* The cards */
[class^="card-img-bg-"] {
  height: 30vh;
  background-size: cover;
  background-position: center;
}

.card-title {
  font-size: 2rem;
}

.card-text {
  font-size: 1.6rem;
}

.btn-primary {
  background-color: var(--tertiary);
  color: var(--primary);
  border: 2px solid var(--tertiary);
}

.btn-primary:hover {
  background-color: var(--primary);
  color: var(--tertiary);
  border: 2px solid var(--tertiary);
  transition: all 0.3s ease-out;
}

section .btn-primary {
  margin-top: 1rem
}

.card {
  width: 100%;
  transition: box-shadow 0.3s ease;
}

.card:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* Nav bar app version */
/* The modal window covers the full screen */
.modal-fullscreen .modal-content {
  height: 100vh;
  width: 100vw;
  margin: 0;
  border-radius: 0;
  display: flex;
  flex-direction: column;
}

/* Adjust the modal header and body */
.modal-header {
  flex: 0 0 auto;
}

.modal-body {
  flex: 1 1 auto;
  overflow-y: auto;
}

/* Home page map section */
.exhibition-img {
  max-width: 100%;
  width: auto;
  height: auto;
  padding: 20px 0;
}

/* Home page animations */

@keyframes slideInLeft {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }

  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideInLeft {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }

  to {
    transform: translateX(0);
    opacity: 1;
  }
}

p.slide-in-left {
  opacity: 0;
  text-align: justify;
  transition: opacity 1s ease-in-out;
}

p.slide-in-left {
  animation: slideInLeft 1s forwards;
}