html {
  font-size: 10px;
}


body {
  scroll-behavior: smooth;
  background-color: rgb(255, 255, 255);
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 2rem;
}

section {
  padding: 2rem;
  margin-left: 10vw;
  margin-right: 10vw;
}

h3 {
  text-align: center;
  font-size: 4rem;
  padding: 2rem;
  position: relative;
  margin-bottom: 2rem;
}

h3::before {
  position: absolute;
  bottom: 10px;
  width: 14rem;
  height: 4px;
  content: "";
  left: 50%;
  margin-left: calc(-15rem / 2);
  background-color: var(--tertiary);
  z-index: 100;
}

h4 {
  font-size: 3rem;
}


.btn {
  /* background-color: #2f2497bc; */
  border: 0;
  font-size: 1.5rem;
  padding: 1rem;
  font-weight: 500;
  border-radius: 10px;
}

/* 
.btn:hover {
  background-color: #372ba6; 
}
*/

.center {
  text-align: center;
}

/* Hero section */
#hero {
  position: relative;
  width: 100%;
  height: 100vh;
  margin: 0;
  padding: 0;
}

#hero::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url(../pics/pic-16.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  filter: brightness(60%);
}

.hero-content {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hero-title {
  width: 80%;
  filter: brightness(0) saturate(100%) invert(93%) sepia(100%) saturate(27%) hue-rotate(14deg) brightness(108%) contrast(107%);
  margin-bottom: 10px;
}

.hero-subtitle {
  font-size: 2.5rem;
  margin-top: -1rem;
  font-weight: 500;
  color: white;
}

.hero-btn {
  background-color: rgba(255, 255, 255, 0.35);
  font-weight: 600;
  font-size: 2rem;
  margin-top: 1.5rem;
  color: white;
  margin-left: 2rem;
  margin-right: 2rem;
  letter-spacing: 1px;

}

.hero-btn:hover {
  background-color: white;
}

/* Carousel */

.carousel {
  height: 60vh;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4);
  /* Example shadow style */
}

.carousel-inner {
  height: 100%;
}

.carousel-item {
  height: 100%;
  background-size: cover;
  background-position: center;
}

.transparent-background {
  width: 100%;
  height: 100%;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

.carousel-caption {
  font-size: 1.6rem;
  text-shadow: 1px 1px white;

}

.carousel-title {
  font-size: 2rem;
}

.btn-outline-light {
  border: 1px solid;
}



/* Alberto */
#address iframe {
  width: 100%;
  height: 50vh;
  max-height: 50vw;
}

#address p {
  font-size: 2.5rem;
}

#address .container {
  padding: 1rem;
}


/* Narrative page */
/* The nav for scrolling */
.nav-pills {
  flex-wrap: nowrap;
  overflow-x: auto;
}

.nav-for-scroll {
  background-color: var(--tertiary);
}

.narrative-item a {
  color: var(--primary);
}

.nav .nav-link.active {
  background-color: var(--secondary);
}

.narrative-item a:hover {
  color: var(--primary);
  background-color: var(--secondary);
  cursor: pointer;
}

/* The cards */
[class^="card-img-bg-"] {
  height: 40vh;
  background-size: cover;
  background-position: center;
}

.card-title {
  font-size: 2rem;
}

.card-text {
  font-size: 1.6rem;
}

.btn-primary {
  background-color: var(--tertiary);
  color: var(--primary);
  border: 2px solid var(--tertiary);
}

.btn-primary:hover {
  background-color: var(--primary);
  color: var(--tertiary);
  border: 2px solid var(--tertiary);
  transition: all 0.3s ease-out;
}

.card {
  transition: box-shadow 0.3s ease;
}

.card:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* Nav bar app version */
/* The modal window covers the full screen */
.modal-fullscreen .modal-content {
  height: 100vh;
  width: 100vw;
  margin: 0;
  border-radius: 0;
  display: flex;
  flex-direction: column;
}

/* Adjust the modal header and body */
.modal-header {
  flex: 0 0 auto;
}

.modal-body {
  flex: 1 1 auto;
  overflow-y: auto;
}

/* Map page */
.map-container img {
  width: 100%;
}

.text {
  display: none;
  margin-top: 10px;
}

/* Subnarratives buttons in the map page */
.narrative-button {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  border: 2px solid var(--secondary);
  padding: 7px;
  border-radius: 12px;
}

.narrative-button p {
  margin: 0 5px;
  color: inherit;

}

.narrative-icon {
  height: 3.5rem;
  width: auto;
}

/* hover behaviour on narrative buttons */
.narrative-button:hover {
  border: 2px solid var(--tertiary);
  color: var(--tertiary);
  transition: all 0.3s ease-out;
}

.narrative-button:hover img {
  filter: brightness(0) saturate(100%) invert(17%) sepia(80%) saturate(4825%) hue-rotate(355deg) brightness(84%) contrast(87%);
  transition: all 0.3s ease-out;
}


/* active narrative button */
.narrative-button.active-narrative {
  background-color: var(--tertiary);
  border: 2px solid var(--tertiary);
  color: var(--primary);
}

.narrative-button.active-narrative img {
  -webkit-filter: invert(100%);
  filter: invert(100%);
}

/* Home page map section */
.exhibition-img {
  max-width: 100%;
  width: auto;
  height: auto;
  padding: 20px;
}